---
http_interactions:
- request:
    method: get
    uri: https://hydra-dev.princeton.edu/iiif/collections
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"076315ae0300842d731c080bc4dd89fe"
    body:
      encoding: UTF-8
      string: '{"@context":"http://iiif.io/api/presentation/2/context.json","@id":"https://hydra-dev.princeton.edu/collections/manifest","@type":"sc:Collection","label":"Plum Collections","description":"All collections which are a part of Plum.","viewingHint":"individuals","structures":[{"@id":"https://hydra-dev.princeton.edu/collections/manifest/range/g70272257673280","@type":"sc:Range","label":"Logical","viewingHint":"top"}],"collections":[{"@id":"https://hydra-dev.princeton.edu/collections/2b88qc199/manifest","@type":"sc:Collection","label":"princeton","viewingHint":"individuals","structures":[{"@id":"https://hydra-dev.princeton.edu/collections/2b88qc199/manifest/range/g70272079000020","@type":"sc:Range","label":"Logical","viewingHint":"top"}],"metadata":[{"label":"Exhibit","value":["princeton-best"]}]},{"@id":"https://hydra-dev.princeton.edu/collections/6969z0774/manifest","@type":"sc:Collection","label":"Test Collection 2","viewingHint":"individuals","structures":[{"@id":"https://hydra-dev.princeton.edu/collections/6969z0774/manifest/range/g70272258112340","@type":"sc:Range","label":"Logical","viewingHint":"top"}],"metadata":[{"label":"Exhibit","value":["test-collection-2"]}]}]}'
  recorded_at: Mon, 18 Jan 2016 19:55:33 GMT
- request:
    method: get
    uri: https://hydra-dev.princeton.edu/concern/scanned_resources/1r66j1149/manifest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"eee9acc37ee6c8264cf6a6748d028c1d"
    body:
      encoding: UTF-8
      string: '{"@context":"http://iiif.io/api/presentation/2/context.json","@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/1r66j1149/manifest","@type":"sc:Manifest","label":["Christopher
        and his kind, 1929-1939"],"viewingHint":"individuals","viewingDirection":"left-to-right","service":{"@context":"http://iiif.io/api/auth/0/context.json","@id":"https://hydra-dev.princeton.edu/users/auth/cas","label":"Login
        to Plum using CAS","profile":"http://iiif.io/api/auth/0/login","service":{"hsh":null}},"structures":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/1r66j1149/manifest/range/g70272255683880","@type":"sc:Range","label":"Logical","viewingHint":"top"}],
        "structures":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/range/g70237482003920","@type":"sc:Range","label":"Logical","viewingHint":"top","ranges":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/range/g70237482056940","@type":"sc:Range","label":"Chapter
        1","canvases":["https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/canvas/sbn9996723","https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/canvas/s9k41zd485"]},{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/range/g70237482036180","@type":"sc:Range","label":"Chapter
        2","canvases":["https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/canvas/sww72bb48n","https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/canvas/sjs956f80z"]}]}],
        "metadata":[{"label":"Date
        created","value":[{"@value":"1976"}]}], "seeAlso":{"@id":"https://bibdata.princeton.edu/bibliographic/1234567/jsonld","format":"application/ld+json"}, "rendering":{"@id":"http://arks.princeton.edu/ark:88435/7w62fb79g", "format": "text/html"}}'
  recorded_at: Mon, 18 Jan 2016 19:55:34 GMT
- request:
    method: get
    uri: https://hydra-dev.princeton.edu/concern/scanned_resources/44558d29f/manifest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f74a4e94df241680db327c0ae435ad85"
    body:
      encoding: UTF-8
      string: '{"@context":"http://iiif.io/api/presentation/2/context.json","@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/44558d29f/manifest","@type":"sc:Manifest","label":"L''ordine dorico ossia il tempio d''Ercole nella città di Cori umiliato alla santita di nostro signore Papa Pio Sesto","viewingHint":"paged","viewingDirection":"left-to-right","sequences":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/44558d29f/manifest/sequence/normal","@type":"sc:Sequence","canvases":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/44558d29f/manifest/canvas/tq57nr024","@type":"sc:Canvas","label":"Front Cover","images":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/44558d29f/manifest/annotation/tq57nr024-image","@type":"oa:Annotation","motivation":"sc:painting","resource":{"@id":"https://hydra-dev.princeton.edu/loris/tq%2F57%2Fnr%2F02%2F4-intermediate_file.jp2/full/!200,200/0/default.jpg","@type":"dcterms:Image","format":"image/jpeg","width":5007,"height":7200,"service":{"@context":"http://iiif.io/api/image/2/context.json","@id":"https://hydra-dev.princeton.edu/loris/tq%2F57%2Fnr%2F02%2F4-intermediate_file.jp2","profile":"http://iiif.io/api/image/2/level2.json"}},"on":"https://hydra-dev.princeton.edu/concern/scanned_resources/44558d29f/manifest/canvas/tq57nr024"}],"width":5007,"height":7200}],"viewingHint":"paged"}],"metadata":[{"label":"Creator","value":[{"@value":"Antolini, Giovanni Antonio, 1754-1842."}]},{"label":"Date created","value":[{"@value":"1785"}]}],"thumbnail":{"@id":"https://hydra-dev.princeton.edu/loris/tq%2F57%2Fnr%2F02%2F4-intermediate_file.jp2/full/100,/0/default.jpg","service":{"@context":"http://iiif.io/api/image/2/context.json","@id":"https://hydra-dev.princeton.edu/loris/tq%2F57%2Fnr%2F02%2F4-intermediate_file.jp2","profile":"http://iiif.io/api/image/2/level2.json"}}, "rendering": {"@id": "http://arks.princeton.edu/ark:/88435/7w62fb79e", "format": "text/html"}}'
  recorded_at: Mon, 18 Jan 2016 19:55:36 GMT
[...]
- request:
    method: get
    uri: https://bibdata.princeton.edu/bibliographic/1234567/jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"f9f0b10fa8b95219ea9ce2c759738c73"
      Status:
      - 200 OK
      Content-Type:
      - application/ld+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"@context":"http://bibdata.princeton.edu/context.json","@id":"http://bibdata.princeton.edu/bibliographic/1234567","title":["Christopher and his kind, 1929-1939"],"language":"eng","creator":"Isherwood, Christopher, 1904-1986","call_number":"PR6017.S5 Z498","extent":"339 p. ; 22 cm.","edition":"1st ed.","format":"Book","genre":"Biography","publisher":"New York : Farrar, Straus Giroux, 1976.","subject":["Isherwood, Christopher, 1904-1986","Authors, English—20th century—Biography"],"donor":["Copland, Aaron, 1900-1990"],"author":"Isherwood, Christopher, 1904-1986","created":"1976-01-01T00:00:00Z","date":"1976", "memberOf": [{"@id": "https://plum.princeton.edu/collections/pw9505t09q", "title": "East Asian Library Digital Bookshelf"}]}'
  recorded_at: Tue, 18 Oct 2016 22:03:21 GMT
[...]
- request:
    method: get
    uri: https://hydra-dev.princeton.edu/collections/2b88qc199/manifest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"076315ae0300842d731c080bc4dd89fe"
    body:
      encoding: UTF-8
      string: '{"@id":"https://hydra-dev.princeton.edu/collections/2b88qc199/manifest","@type":"sc:Collection","label":"princeton","viewingHint":"individuals","structures":[{"@id":"https://hydra-dev.princeton.edu/collections/2b88qc199/manifest/range/g70272079000020","@type":"sc:Range","label":"Logical","viewingHint":"top"}],"metadata":[{"label":"Exhibit","value":["princeton-best"]}], "manifests": [{"@id": "https://hydra-dev.princeton.edu/concern/scanned_resources/1r66j1149/manifest", "@type": "sc:Manifest", "label": ["Christopher and his kind, 1929-1939"], "viewingHint": "individuals", "viewingDirection": "left-to-right"}, {"@id": "https://hydra-dev.princeton.edu/concern/scanned_resources/44558d29f/manifest", "@type": "sc:Manifest", "label": "L''ordine dorico ossia il tempio d''Ercole nella città di Cori umiliato alla santita di nostro signore Papa Pio Seso", "viewingHint": "paged", "viewingDirection": "left-to-right"}]}'
  recorded_at: Mon, 18 Jan 2016 19:55:33 GMT
- request:
    method: get
    uri: https://hydra-dev.princeton.edu/collections/6969z0774/manifest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"076315ae0300842d731c080bc4dd89fe"
    body:
      encoding: UTF-8
      string: '{"@id":"https://hydra-dev.princeton.edu/collections/6969z0774/manifest","@type":"sc:Collection","label":"Test Collection 2","viewingHint":"individuals","structures":[{"@id":"https://hydra-dev.princeton.edu/collections/6969z0774/manifest/range/g70272258112340","@type":"sc:Range","label":"Logical","viewingHint":"top"}],"metadata":[{"label":"Exhibit","value":["test-collection-2"]}], "manifests": [{"@id": "https://hydra-dev.princeton.edu/concern/scanned_resources/qq67jr16q/manifest", "@type": "sc:Manifest", "label": "L''ordine dorico ossia il tempio d''Ercole nella città di Cori umiliato alla santita di nostro signore Papa Pio Sesto", "viewingHint": "individuals", "viewingDirection": "left-to-right"}, {"@id": "https://hydra-dev.princeton.edu/concern/scanned_resources/6969z079p/manifest", "@type": "sc:Manifest", "label": "Test Resource", "viewingHint": "individuals", "viewingDirection": "left-to-right"}]}'
  recorded_at: Mon, 18 Jan 2016 19:55:33 GMT
recorded_with: VCR 3.0.3
