---
http_interactions:
- request:
    method: get
    uri: https://hydra-dev.princeton.edu/collections/manifest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2fc1c01183eb74d9e5e2c08e87d9f59d"
    body:
      encoding: UTF-8
      string: '{"@context":"http://iiif.io/api/presentation/2/context.json","@id":"https://hydra-dev.princeton.edu/collections/manifest","@type":"sc:Collection","label":"Plum
        Collections","description":"All collections which are a part of Plum.","viewingHint":"individuals","structures":[{"@id":"https://hydra-dev.princeton.edu/collections/manifest/range/g70309271427520","@type":"sc:Range","label":"Logical","viewingHint":"top"}],"manifests":[{"@id":"https://hydra-dev.princeton.edu/collections/5d86p020k/manifest","@type":"sc:Manifest","label":"Test
        Collection 2","viewingHint":"individuals","viewingDirection":"left-to-right"},{"@id":"https://hydra-dev.princeton.edu/collections/2b88qc199/manifest","@type":"sc:Manifest","label":"princeton","viewingHint":"individuals","viewingDirection":"left-to-right"}]}'
  recorded_at: Thu, 14 Jan 2016 18:55:20 GMT
- request:
    method: get
    uri: https://hydra-dev.princeton.edu/collections/5d86p020k/manifest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a4296c841bb94d176daf27ff572e2264"
    body:
      encoding: UTF-8
      string: '{"@context":"http://iiif.io/api/presentation/2/context.json","@id":"https://hydra-dev.princeton.edu/collections/5d86p020k/manifest","@type":"sc:Manifest","label":"Test
        Collection 2","viewingHint":"individuals","viewingDirection":"left-to-right","service":{"@context":"http://iiif.io/api/auth/0/context.json","@id":"https://hydra-dev.princeton.edu/users/auth/cas","label":"Login
        to Plum using CAS","profile":"http://iiif.io/api/auth/0/login","service":{"hsh":null}},"structures":[{"@id":"https://hydra-dev.princeton.edu/collections/5d86p020k/manifest/range/g70309456906720","@type":"sc:Range","label":"Logical","viewingHint":"top"}],"metadata":[{"label":"Exhibit","value":[{"@value":"test-collection-2"}]}]}'
  recorded_at: Thu, 14 Jan 2016 18:56:20 GMT
- request:
    method: get
    uri: https://hydra-dev.princeton.edu/collections/2b88qc199/manifest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"db6f22e3faddc639d095898b2aa3b5d4"
    body:
      encoding: UTF-8
      string: '{"@context":"http://iiif.io/api/presentation/2/context.json","@id":"https://hydra-dev.princeton.edu/collections/2b88qc199/manifest","@type":"sc:Manifest","label":"princeton","viewingHint":"individuals","viewingDirection":"left-to-right","service":{"@context":"http://iiif.io/api/auth/0/context.json","@id":"https://hydra-dev.princeton.edu/users/auth/cas","label":"Login
        to Plum using CAS","profile":"http://iiif.io/api/auth/0/login","service":{"hsh":null}},"structures":[{"@id":"https://hydra-dev.princeton.edu/collections/2b88qc199/manifest/range/g70309282360200","@type":"sc:Range","label":"Logical","viewingHint":"top"}],"metadata":[{"label":"Exhibit","value":[{"@value":"princeton-best"}]}]}'
  recorded_at: Thu, 14 Jan 2016 18:56:20 GMT
recorded_with: VCR 3.0.0
