---
http_interactions:
- request:
    method: get
    uri: https://hydra-dev.princeton.edu/concern/scanned_resources/1r66j1149/manifest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c8f3976d4d4eeadb8deae907589ab584"
    body:
      encoding: UTF-8
      string: '{"@context":"http://iiif.io/api/presentation/2/context.json","@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/1r66j1149/manifest","@type":"sc:Manifest","label":"Christopher
        and his kind, 1929-1939","viewingHint":"individuals","viewingDirection":"left-to-right","service":{"@context":"http://iiif.io/api/auth/0/context.json","@id":"https://hydra-dev.princeton.edu/users/auth/cas","label":"Login
        to Plum using CAS","profile":"http://iiif.io/api/auth/0/login","service":{"hsh":null}},"structures":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/1r66j1149/manifest/range/g70037437469480","@type":"sc:Range","label":"Logical","viewingHint":"top"}],"metadata":[{"label":"Date
        created","value":[{"@value":"1976"}]}]}'
  recorded_at: Thu, 14 Jan 2016 14:39:33 GMT
recorded_with: VCR 2.9.3
