---
http_interactions:
- request:
    method: head
    uri: https://hydra-dev.princeton.edu/concern/multi_volume_works/f4752g76q/manifest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bf4a0b2233ec9e9373fa12596480eaeb"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Apr 2016 16:02:24 GMT
[...]
- request:
    method: get
    uri: https://hydra-dev.princeton.edu/concern/multi_volume_works/f4752g76q/manifest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bf4a0b2233ec9e9373fa12596480eaeb"
    body:
      encoding: UTF-8
      string: '{"@context":"http://iiif.io/api/presentation/2/context.json","@id":"https://hydra-dev.princeton.edu/concern/multi_volume_works/f4752g76q/manifest","@type":"sc:Collection","label":"MVW","viewingHint":"multi-part","service":{"@context":"http://iiif.io/api/auth/0/context.json","@id":"https://hydra-dev.princeton.edu/users/auth/cas","label":"Login
        to Plum using CAS","profile":"http://iiif.io/api/auth/0/login","service":{"hsh":null}},"manifests":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/k35694439/manifest","@type":"sc:Manifest","label":"SR1","viewingHint":"individuals","viewingDirection":"left-to-right"}],"metadata":[{"label":"Identifier","value":"ark:/99999/fk44q84z58"}],
        "seeAlso":{"@id":"https://bibdata.princeton.edu/bibliographic/1234567/jsonld","format":"application/ld+json"}}'
  recorded_at: Fri, 22 Apr 2016 16:02:29 GMT
- request:
    method: get
    uri: https://hydra-dev.princeton.edu/concern/scanned_resources/k35694439/manifest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8063950264dfac6a88b13e45b5ff7b46"
    body:
      encoding: UTF-8
      string: '{"@context":"http://iiif.io/api/presentation/2/context.json","@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/k35694439/manifest","@type":"sc:Manifest","label":"Scanned Resource 1","viewingHint":"individuals","viewingDirection":"left-to-right","service":{"@context":"http://iiif.io/api/auth/0/context.json","@id":"https://hydra-dev.princeton.edu/users/auth/cas","label":"Login
        to Plum using CAS","profile":"http://iiif.io/api/auth/0/login","service":{"hsh":null}},"sequences":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/k35694439/manifest/sequence/normal","@type":"sc:Sequence","canvases":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/k35694439/manifest/canvas/js956f85s","@type":"sc:Canvas","label":"color.tif","images":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/k35694439/manifest/annotation/js956f85s-image","@type":"oa:Annotation","motivation":"sc:painting","resource":{"@id":"https://libimages1.princeton.edu/loris/plum/js%2F95%2F6f%2F85%2Fs-intermediate_file.jp2/full/!200,200/0/default.jpg","@type":"dcterms:Image","format":"image/jpeg","width":200,"height":287,"service":{"@context":"http://iiif.io/api/image/2/context.json","@id":"https://libimages1.princeton.edu/loris/plum/js%2F95%2F6f%2F85%2Fs-intermediate_file.jp2","profile":"http://iiif.io/api/image/2/level2.json"}},"on":"https://hydra-dev.princeton.edu/concern/scanned_resources/k35694439/manifest/canvas/js956f85s"}],"width":200,"height":287},{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/k35694439/manifest/canvas/hq37vn616","@type":"sc:Canvas","label":"color-landscape.tif","images":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/k35694439/manifest/annotation/hq37vn616-image","@type":"oa:Annotation","motivation":"sc:painting","resource":{"@id":"https://libimages1.princeton.edu/loris/plum/hq%2F37%2Fvn%2F61%2F6-intermediate_file.jp2/full/!200,200/0/default.jpg","@type":"dcterms:Image","format":"image/jpeg","width":287,"height":200,"service":{"@context":"http://iiif.io/api/image/2/context.json","@id":"https://libimages1.princeton.edu/loris/plum/hq%2F37%2Fvn%2F61%2F6-intermediate_file.jp2","profile":"http://iiif.io/api/image/2/level2.json"}},"on":"https://hydra-dev.princeton.edu/concern/scanned_resources/k35694439/manifest/canvas/hq37vn616"}],"width":287,"height":200}],"viewingHint":"individuals","rendering":{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/k35694439/pdf","label":"Download
        as PDF","format":"application/pdf"}}],
        "structures":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/range/g70237482003920","@type":"sc:Range","label":"Logical","viewingHint":"top","ranges":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/range/g70237482056940","@type":"sc:Range","label":"Chapter
        1","canvases":["https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/canvas/sbn9996723","https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/canvas/s9k41zd485"]},{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/range/g70237482036180","@type":"sc:Range","label":"Chapter
        2","canvases":["https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/canvas/sww72bb48n","https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/canvas/sjs956f80z"]}]}],
        "metadata":[{"label":"Identifier","value":"ark:/99999/fk4w95dw9r"}],"thumbnail":{"@id":"https://libimages1.princeton.edu/loris/plum/js%2F95%2F6f%2F85%2Fs-intermediate_file.jp2/full/!200,150/0/default.jpg","service":{"@context":"http://iiif.io/api/image/2/context.json","@id":"https://libimages1.princeton.edu/loris/plum/js%2F95%2F6f%2F85%2Fs-intermediate_file.jp2","profile":"http://iiif.io/api/image/2/level2.json"}}}'
  recorded_at: Fri, 22 Apr 2016 16:02:30 GMT
[...]
- request:
    method: get
    uri: https://bibdata.princeton.edu/bibliographic/1234567/jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"f9f0b10fa8b95219ea9ce2c759738c73"
      Status:
      - 200 OK
      Content-Type:
      - application/ld+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"@context":"http://bibdata.princeton.edu/context.json","@id":"http://bibdata.princeton.edu/bibliographic/1234567","title":{"@value":"Christopher and his kind, 1929-1939","@language":"eng"},"language":"eng","creator":"Isherwood, Christopher, 1904-1986","call_number":"PR6017.S5 Z498","extent":"339 p. ; 22 cm.","edition":"1st ed.","format":"Book","genre":"Biography","publisher":"New York : Farrar, Straus Giroux, 1976.","subject":["Isherwood, Christopher, 1904-1986","Authors, English—20th century—Biography"],"donor":["Copland, Aaron, 1900-1990"],"author":"Isherwood, Christopher, 1904-1986","created":"1976-01-01T00:00:00Z","date":"1976"}'
  recorded_at: Tue, 18 Oct 2016 22:41:07 GMT
- request:
    method: get
    uri: https://bibdata.princeton.edu/bibliographic/1234567/jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"f9f0b10fa8b95219ea9ce2c759738c73"
      Status:
      - 200 OK
      Content-Type:
      - application/ld+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"@context":"http://bibdata.princeton.edu/context.json","@id":"http://bibdata.princeton.edu/bibliographic/1234567","title":{"@value":"Christopher and his kind, 1929-1939","@language":"eng"},"language":"eng","creator":"Isherwood, Christopher, 1904-1986","call_number":"PR6017.S5 Z498","extent":"339 p. ; 22 cm.","edition":"1st ed.","format":"Book","genre":"Biography","publisher":"New York : Farrar, Straus Giroux, 1976.","subject":["Isherwood, Christopher, 1904-1986","Authors, English—20th century—Biography"],"donor":["Copland, Aaron, 1900-1990"],"author":"Isherwood, Christopher, 1904-1986","created":"1976-01-01T00:00:00Z","date":"1976"}'
  recorded_at: Tue, 18 Oct 2016 22:41:09 GMT
recorded_with: VCR 3.0.3
