---
http_interactions:
- request:
    method: head
    uri: https://hydra-dev.princeton.edu/concern/scanned_resources/1r66j1149/manifest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: Success
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 Success
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 28 Mar 2016 22:07:10 GMT
[...]
- request:
    method: get
    uri: https://hydra-dev.princeton.edu/concern/scanned_resources/1r66j1149/manifest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"eee9acc37ee6c8264cf6a6748d028c1d"
    body:
      encoding: UTF-8
      string: '{"@context":"http://iiif.io/api/presentation/2/context.json","@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/1r66j1149/manifest","@type":"sc:Manifest","label":"Christopher
        and his kind, 1929-1939","viewingHint":"individuals","viewingDirection":"left-to-right","service":{"@context":"http://iiif.io/api/auth/0/context.json","@id":"https://hydra-dev.princeton.edu/users/auth/cas","label":"Login
        to Plum using CAS","profile":"http://iiif.io/api/auth/0/login","service":{"hsh":null}},"structures":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/1r66j1149/manifest/range/g70272255683880","@type":"sc:Range","label":"Logical","viewingHint":"top"}],"metadata":[{"label":"Date
        created","value":[{"@value":"1976"}]}]}'
  recorded_at: Mon, 18 Jan 2016 19:55:34 GMT
[...]
