---
http_interactions:
- request:
    method: head
    uri: https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"35e67c6cb264c8e02c6b85ffb537b99b"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 18 Oct 2016 23:40:49 GMT
[...]
- request:
    method: get
    uri: https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e8c0e9db8c54d149b52ed891da35e589"
    body:
      encoding: UTF-8
      string: '{"@context":"http://iiif.io/api/presentation/2/context.json","@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest","@type":"sc:Manifest","label":"Christopher
        and his kind, 1929-1939","viewingHint":"paged","viewingDirection":"left-to-right","sequences":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/sequence/normal","@type":"sc:Sequence","canvases":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/canvas/sbn9996723","@type":"sc:Canvas","label":"1r","images":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/annotation/sbn9996723-image","@type":"oa:Annotation","motivation":"sc:painting","resource":{"@id":"https://libimages1.princeton.edu/loris/plum/sb%2Fn9%2F99%2F67%2F23-intermediate_file.jp2/full/!600,600/0/default.jpg","@type":"dcterms:Image","format":"image/jpeg","width":4419,"height":7200,"service":{"@context":"http://iiif.io/api/image/2/context.json","@id":"https://libimages1.princeton.edu/loris/plum/sb%2Fn9%2F99%2F67%2F23-intermediate_file.jp2","profile":"http://iiif.io/api/image/2/level2.json"}},"on":"https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/canvas/sbn9996723"}],"width":4419,"height":7200,"otherContent":[{"@id":"https://hydra-dev.princeton.edu/concern/container/s9w032300r/file_sets/sbn9996723/text","@type":"sc:AnnotationList","label":"Text
        of this Page"}]},{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/canvas/s9k41zd485","@type":"sc:Canvas","label":"1v","images":[{"@id":"https://hydra-dev.princeton.edu/concern/scanned_resources/s9w032300r/manifest/annotation/s9k41zd485-image","@type":"oa:Annotation","motivation":"sc:painting","resource":{"@id":"htt[...]
[...]
- request:
    method: get
    uri: http://httpstat.us/407
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 407
      message: Proxy Authentication Required
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Proxy-Authenticate:
      - Basic realm="Fake Realm"
    body:
      encoding: UTF-8
      string: 407 Proxy Authentication Required
  recorded_at: Wed, 19 Oct 2016 00:46:27 GMT
- request:
    method: get
    uri: http://httpstat.us/407
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 407
      message: Proxy Authentication Required
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Proxy-Authenticate:
      - Basic realm="Fake Realm"
    body:
      encoding: UTF-8
      string: 407 Proxy Authentication Required
  recorded_at: Wed, 19 Oct 2016 00:46:27 GMT
recorded_with: VCR 3.0.3
