.bookmarksTools .btn-outline-primary {
  &:hover, &:active {
    background-color: $gray-light !important;
  }
}

.bookmarks-thumbnail-container .index-document-functions{
  margin-top: -0.5em;
}

.toggle-bookmark {
  text-align:right;
  margin-left: -1em;
}
