.exhibit-card {
  padding-bottom: 6rem;
  min-height: 3.75em;
}

.exhibit-card .card-title {
  margin-top: .20rem;
  margin-bottom: .5rem;
  padding-bottom: .2rem;
}

.exhibit-card .subtitle {
  margin-top: .20rem;
  font-size: .9rem;
}

.exhibit-card .card-img-overlay {
  min-height: 35%;
}
