<header class="lux">
  <library-header app-name="<%= application_name %>" app-url="<%= root_path %>">
    <div class="pull-right menu--level-1 col-xs-12 col-sm-6">
      <ul>
        <%= render partial: '/user_util_links' %>
      </ul>
    </div>
  </library-header>
</header>
