<header role="banner">
  <div class="l-branding__pul">
    <div class="container">
      <div class="logo__pul col-xs-12 col-sm-6">
        <a href="https://library.princeton.edu" title="Princeton University Library">
           <%= image_tag("pul-logo-new.svg") %>
        </a>
        <% unless current_page?(root_path) %>
          <%=link_to header_title, root_path, :class => "site-title" %>
        <% end %>
      </div>
      <div class="pull-right menu--level-1 col-xs-12 col-sm-6">
        <%= render partial: '/user_util_links' %>
      </div>
    </div>
  </div>
</header>
