<div id="exhibit-navbar" class="exhibit-navbar navbar navbar-light navbar-expand-md" role="navigation" aria-label="<%= t('spotlight.exhibitnavbar.label') %>">
  <div class="container flex-column flex-md-row">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="navbar-right navbar-nav exhibit-search-form mt-3 mt-md-0">
      <%= render_search_bar %>
    </div>
  </div>
</div>
