<% @page_title = "Server Error" %>
<div class="container-fluid">
  <div class="col-xs-12 col-md-10">
    <h2>The application encountered an error trying to process your reqeust</h2>
    <p>Please try your request again later, or perform a new search to find the item you're looking for.
    If the problem continues, please send <a href="https://catalog.princeton.edu/feedback">feedback</a>
    to help us investigate the problem.</p>
  </div>
</div>
