<%# header bar for doc items in index view -%>
<%# use is configured in catalog controller %>
<div class='row'>
  <div class="title-metadata-container col-9">
    <h3 class="index_title document-title-heading">
      <%= render_document_partial(document, 'index_document_title_heading', counter: document_counter) %>

    </h3>
    <%= render(Blacklight::DocumentMetadataComponent.new(fields: document_presenter(document).field_presenters)) %>
  </div>

  <div class='bookmarks-thumbnail-container col-3'>
    <%= render_index_doc_actions document, wrapping_class: "index-document-functions" %>
    <%= render_document_partial(document, 'thumbnail', document_counter: document_counter) %>
  </div>
</div>
