<div id="content" class="<%#= show_content_classes %>col-sm-12 show-document" data-id="<%= @document.id %>">
  <%= render_document_main_content_partial %>
</div>

<!-- <div id="sidebar" class="<%#= show_sidebar_classes %>">
   <%#= render_document_sidebar_partial %>
</div>
 -->
