<script defer event-pagetype="Record_Page" data-domain="dpul.princeton.edu" src="https://plausible.io/js/script.pageview-props.js"></script>
<%= render_document_main_content_partial %>

<!-- <div id="sidebar" class="<%#= show_sidebar_classes %>">
   <%#= render_document_sidebar_partial %>
</div>
 -->
