$white: #ffffff;
$black: #000000;
$brand-black: #040404;
$dark-gray: #494f57;
$blacklight-gray: #777;
$gray: #e8e6df;
$light-gray: #f5f4f1;
$dark-orange: #9F620D;
$orange: #e87511;
$blue: #3072AB;
$brand-danger: #a94442;
$yellow-light: #fee7ba;
$gray-lightest: #f5f4f1;
$blue-dark: #2762ae;
$gray-dark: #666d78;
$black: #2b2b2b;
