// used for body text, cards, buttons
$font-primary: "Source Sans Pro", "DejaVu Sans", "HelveticaNeue", Arial, sans-serif;

// used for masthead title and other headers
$font-secondary: 'Source Serif Pro', Georgia, Times, 'Times New Roman', serif;

// used for lists and tabs -- was font-sans in pul_assets
$font-sans: "DejaVu Sans", "Arial Unicode MS", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

$text-color: #000 !default;
$text-small: 12px;
