// used for body text, cards, buttons
$font-primary: "Noto Sans Arabic", "Noto Serif Tangut", "DejaVu Sans", "HelveticaNeue", Arial, sans-serif;

// used for masthead title and other headers
$font-secondary: Georgia, Times, 'Times New Roman', serif;

// used for lists and tabs
$font-sans: "Noto Sans Arabic", "Noto Serif Tangut", "DejaVu Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

$text-color: #000 !default;
$text-small: 12px;
