<%# Princeton customization to add Dashboard button for easy access %>
<div class='float-right'>
  <%= exhibit_edit_link @page, class: 'edit-button btn btn-primary' %>
  <%= link_to t('spotlight.dashboards.show.header'), spotlight.exhibit_dashboard_path(@page.exhibit), class: 'btn btn-outline-secondary' %>
</div>
