@font-face {
  font-family: 'DejaVu Sans';
  src: font-url('Dejavu/DejaVuSansCondensed.eot');
  src: font-url('Dejavu/DejaVuSansCondensed.eot?#iefix') format('embedded-opentype'),
       font-url('Dejavu/DejaVuSansCondensed.woff2') format('woff2'),
       font-url('Dejavu/DejaVuSansCondensed.woff') format('woff'),
       font-url('Dejavu/DejaVuSansCondensed.ttf') format('truetype'),
       font-url('Dejavu/DejaVuSansCondensed.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
/* tangut */
@font-face {
  font-family: 'Noto Serif Tangut';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: font_url('NotoSerifTangut.woff2') format('woff2');
  unicode-range: U+2FF0-2FFF, U+31EF, U+16FE0, U+17000-187F7, U+18800-18AFF, U+18D00-18D08;
}

/* tai-tham */
@font-face {
  font-family: 'Noto Sans Tai Tham';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: font_url('NotoSansTaiTham.woff2') format('woff2');
  unicode-range: U+1A20-1AAF, U+200C-200D, U+2219, U+25CC;
}
/* thai */
@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: font_url('NotoSansThai.woff2') format('woff2');
  unicode-range: U+02D7, U+0303, U+0331, U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* mongolian */
@font-face {
  font-family: 'Noto Sans Mongolian';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: font_url('NotoSansMongolian.woff2') format('woff2');
  unicode-range: U+1800-18AF, U+200C-200D, U+202F, U+2048-2049, U+2460-2473, U+25CC, U+3001-3002, U+3008-300F, U+FE3D-FE3E, U+FE41-FE44, U+11660-1166C;
}
