@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(//fonts.googleapis.com/css?family=Source+Serif+Pro);

@font-face {
  font-family: 'DejaVu Sans';
  src: font-url('Dejavu/DejaVuSansCondensed.eot');
  src: font-url('Dejavu/DejaVuSansCondensed.eot?#iefix') format('embedded-opentype'),
       font-url('Dejavu/DejaVuSansCondensed.woff2') format('woff2'),
       font-url('Dejavu/DejaVuSansCondensed.woff') format('woff'),
       font-url('Dejavu/DejaVuSansCondensed.ttf') format('truetype'),
       font-url('Dejavu/DejaVuSansCondensed.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
