/*
*= require bootstrap-tagsinput
*/
@import 'bootstrap';

@import 'blacklight/blacklight';
@import "blacklight_gallery/default";

@import 'application_variables';
@import 'spotlight/variables_bootstrap';
@import 'variables/variables_bootstrap';
@import 'bootstrap';
@import 'sir-trevor/main';
@import 'leaflet';
@import 'leaflet-areaselect';
@import 'spotlight/spotlight';

@import "components/universal_viewer";
@import "components/masthead";

html, body {
  height: 100%;
  margin: 0;
}

#main-container {
  min-height: calc(100vh - 400px);
}
.wrapper {
  padding-bottom: 300px;
}
.footer {
  height: 50px;
  margin-top: -300px;
}
