// site-wide styles
@import 'variables/typography';

html, body {
  height: 100%;
  margin: 0;
}

#main-container {
  min-height: calc(100vh - 400px);
}
.wrapper {
  padding-bottom: 300px;
}
.footer {
  height: 50px;
  margin-top: -300px;
}

li {
  font-family: $font-sans;
}

.exhibit-card {
  font-family: $font-primary;
}
