/* Follows minor third modular scale of 1.200 */
html {
    font-size: 1em;
}

body {
    background-color: white;
    font-family: $font-sans;
    font-size: 16px;
    font-weight: 400;
    // line-height: normal !important;
    line-height: 1.45;
    color: #333;
}

p {
    margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
    font-weight: inherit;
    line-height: 1.2;
    // line-height: normal !important;
}

h1 {
    font-size: 2.074em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.728em;
}

h3 {
    font-size: 1.3em;
}

.facet-limit h3 {
  margin: 0;
}

h4 {
    font-size: 1.2em;
}

small, .font-small {
    font-size: 0.833em;
}

.page-heading {
  display: inline-block;
  margin-bottom: 1.4em;
  padding-top: 5px;
}

.page-heading.my-account {
  margin-top: 5px;
}

.welcome-message h2 {
  margin-top: 0;
}
